
.graph {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.08);
  width: 90%;
 

}

.graph-details {
  width: 100%;
  height: 400px;
}

.chart-container {
  width: 100%;
  height: 100%;
}

