
.graph {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.08);
  width: 90%;
 

}

.graph-details {
  width: 100%;
  height: 400px;
}

.chart-container {
  width: 100%;
  height: 100%;
}
@media screen
  and (min-width: 1600px)
  and (aspect-ratio: 16 / 9) {

  
  .graph {
    width: 94%;
    margin-left: auto;
    margin-right: auto;
    padding: 28px;
    border-radius: 24px;
  }

  
  .graph-details {
    height: 320px;
  }

  .chart-container {
    height: 100%;
  }
}
