 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


.live-screen {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background: #ffffff;
  font-family: "Poppins", sans-serif;

}

.live-data-box {
  width: 96%;
  padding: 20px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.12);
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.battery-info,
.odometer-info,
.card-map,
.motor-info,
.performance,
.connectivity {
  flex: 1 1 30%;
  border: 1px solid rgb(192, 187, 187);
  padding: 1%;
  background: #fff;
  border-radius: 20px;
  transition: all 0.3s ease; 
}


.battery-info:hover,
.odometer-info:hover,
.card-map:hover,
.motor-info:hover,
.performance:hover,
.connectivity:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.12);
}
.odometer-info{
 line-height: 1.9;
}
.card-header {
  display: flex;
  align-items: center;
  gap: 4%;
  margin-bottom: 6px;
}

.map-placeholder {
  width: 100%;
  height: 250px;
}

.map {
  width: 100% !important;
  height: 250px !important;
  border-radius: 10px;
  overflow: hidden;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 3px 0;
}

.key {
  font-weight: 400;
  color: #555;
  text-align: left;
  flex: 1;
}

.value {
  font-weight: 600;
  color: #000;
  text-align: right;
  flex: 1;
}
@media screen
  and (min-width: 1600px)
  and (aspect-ratio: 16 / 9) {

  body,
  .dashboard,
  .live-screen {
    overflow: hidden;
  }

  .live-screen {
    height: calc(100vh - 12vh);
    align-items: center;
    padding-bottom: 3vh; 
  }

  .live-data-box {
    width: 96%;
    height: calc(100% - 3vh); 
    padding: 24px;
    gap: 24px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .battery-info,
  .odometer-info,
  .card-map,
  .motor-info,
  .performance,
  .connectivity {
    padding: 1.5rem;
    border-radius: 24px;
    font-size: 1.1rem;
  }

  .map,
  .map-placeholder {
    height: 180px !important;
  }
}
