.loader-container {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loader-circle {
  width: 3rem;
  height: 3rem;
  border: 0.3rem solid rgba(0, 0, 0, 0.15);
  border-top: 0.3rem solid #ff6600;
  border-radius: 50%;
  animation: rotate 0.8s linear infinite;
}

.loader-text {
  margin-top: 0.8rem;
  font-size: 1rem;
  color: #555;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}