.register-container{
  width: 100%;
  height: 100%;
  display: flex;
}
.tractor-image{
  width: 70%;
  height: 100%;
 
  overflow: hidden;
  position: relative;
}

.tractor-image img {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%) scale(1.11); 
  width: 100%;
  height: 100%;
object-fit: cover;
  object-position: 30% center;
  opacity: 0.4;
}
.register-validation{
  width: 30%;
  height: 100%;
 
}
.mr-logo{
  width: 100%;
  height: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.mr-logo img{
  height: 50%;
  width: 30%;
}
.register-box{

  width: 80%;
  height: 40%;
  display: flex;
  align-items: start;
  margin-left: 10%;
  margin-top: 20%;
}
.register-box form{
 
 display: flex;
 flex-direction: column;
  height: 100%;
  width: 90%;
  margin-left: 5%;
}
.register-box form label{
  margin-bottom: 3%;
  font-size: 1vw;
  
}
.register-box form input{
  width: 100%;
  margin-bottom: 12%;
  height: 15%;
  border-radius: 0.5vw;
  border: 1px solid rgb(205, 203, 203);
  padding-left: 1.5%;
  font-size: 1vw;

  outline: none;

}
.register-box form button{
  width: 100%;
  height: 15%;
  border-radius: 1vw;
  font-size: 1.2vw;
  font-weight: 700;
  cursor: pointer;
  background-color: #E7920D;
  color: white;
  border: none;
}
.switch-to-login{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: start;

}
.switch-to-login p{
  font-size: 1vw;


}
.switch-to-login span{
  color: #fa9703;
  font-weight: 600;
  cursor: pointer;
}