@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


html, body, #root {
  width: 100%;
  height: 100%;
}


html {
  
  font-size: 100%; 
}

body {
  background-color: #0b0f1a;
  color: #ffffff;

  font-size: 1rem;
  line-height: 1.6;
}


h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p, td, th {
  font-size: 1rem;
}


@media (max-width: 1024px) {
  html {
    font-size: 93.75%; 
  }
}


@media (min-width: 1920px) {
  html {
    font-size: 125%; 
  }

  body {
    line-height: 1.8;
  }
}
