@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif !important;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

/* Base font size */
html {
  font-size: 100%; 
}

/* Tablet */
@media (max-width: 1024px) {
  html {
    font-size: 93.75%; 
  }
}

/* TV / Large screens */
@media (min-width: 1920px) {
  html {
    font-size: 125%; 
  }
}
