@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif !important;
}

html, body, #root {
  width: 100%;
  height: 100%;
}


@media screen
  and (min-width: 1600px)
  and (aspect-ratio: 16 / 9) {

  html {
    font-size: 20px;
  }
}
